<%- include('./partials/header') -%>
<div class="background"></div>
<main>
<%- include('./partials/navbar') -%>

<!-- Begin Page Content -->
    <div class="book-preview">
        <div class="cover">
            <img id="preview" src=<%= book.url %> alt="Book Cover">
        </div>
        <div class="info">
            <h3><%= book.title.replace('["', '').replace('"]', '') %></h3>
            <p class="p-text">Author: &nbsp;&nbsp;<%= book.author.replace("['", "").replace("']", "") %></p>
            <div style="padding: 0; display: flex; gap: 20px; margin-bottom: 20px;">
                <div class="p-text">Rating: &nbsp;&nbsp;<%= book.rating %></div>
                <div id="starRating">
                    <% for (let i = 0; i < Math.floor(Math.round(book.rating * 2) / 2); i++) { %>
                        <i class="fa-solid fa-star"></i>
                    <% } %>
                    <% if ((Math.round(book.rating * 2) / 2) % 1 !== 0) { %>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    <% } %>
                    <% for (let i = 0; i < 5 - (Math.floor(Math.round(book.rating * 2) / 2)) - (((Math.round(book.rating * 2) / 2) % 1 !== 0) ? 1 : 0); i++) { %>
                        <i class="fa-regular fa-star"></i>
                    <% } %>
                </div>
            </div>
            <div style="padding: 0; display: flex; gap: 20px;">
                <p class="p-text">
                    Genres:
                </p>
                <div class="genre">
                    <% book.genres.forEach(genre => { %>
                        <p>[<%= genre %>]</p>
                    <% }) %>
                </div>
            </div>
            <p class="p-text">Description:</p>
            <p class="p-text justify"><%= book.description %></p>
            <!-- <p class="genre">Genre</p> -->
            <% if (addLink === "error") { %>
                <p><%= addLink %></p>
            <% } else if (addLink === "completed") { %>
                <p id="complete-label"><%= addLink %></p>
            <% } else { %>
            <form action=<%= addLink %> method="POST">
                <input type="hidden" name="title" value="<%= book.title %>">
                <input type="hidden" name="author" value="<%= book.author %>">
                <input type="hidden" name="url" value="<%= book.url %>">
                <input type="hidden" name="rating" value="<%= book.rating %>">
                <input type="hidden" name="genres" value="<%= book.genres %>">
                <input type="hidden" name="description" value="<%= book.description %>">
                <% if (addLink === "/add-book-to-reading-wishlist") { %>
                <button type="submit" class="btn"> Add to Reading List</button>
                <% } else if (addLink === "/add-book-to-ongoing") { %>
                <button type="submit" class="btn"> Add to Ongoing List</button>
                <% } else { %>
                <button type="submit" class="btn"> Add to Completed List</button>
                <% } %>
            </form>
            <% } %>
        </div>
    </div>
</main>

<%- include('./partials/footer') -%> 