<%- include('./partials/header') -%>
<div class="background"></div>
<main>
<%- include('./partials/navbar') -%>

<!-- Begin Page Content -->
    <div class="container">
        <h1>Add Friends</h1>
        <form id="preferences-form" action="/friends" method="POST">            
            <label for="username">Enter friend's username:</label>
            <input type="text" id="username" name="username">
            <% if (typeof errmsg !== "undefined") { %>
                <p class="error"><%= errmsg %></p>
            <% } %>
            <% if (typeof success !== "undefined") { %>
                <p class="success"><%= success %></p>
            <% } %>
            <input type="submit" value="Add">
        </form>
    </div>

    <% if ( requests.received.length !== 0 ) { %>
    <div class="friends-container">
        <div>
            <h2 class="friends-list">Requests Received</h2>
            <div class="friends-list-details">
                <% requests.received.forEach((req, index)=>{ %> 
                    <div style="margin-bottom: 5px;">
                        <div class="details-div">
                            <div class="friend-number">
                                <div 
                                class="number-avatar"
                                >
                                    <%= index + 1 %>
                                </div>
                            </div>
                            <%- include('./partials/requestRecDetails', {req: req})  -%>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <% } %>

    <% if ( requests.sent.length !== 0 ) { %>
    <div class="friends-container">
        <div>
            <h2 class="friends-list">Requests Sent</h2>
            <div class="friends-list-details">
                <% requests.sent.forEach((req, index)=>{ %> 
                    <div style="margin-bottom: 5px;">
                        <div class="details-div">
                            <div class="friend-number">
                                <div 
                                class="number-avatar"
                                >
                                    <%= index + 1 %>
                                </div>
                            </div>
                            <%- include('./partials/requestSentDetails', {req: req})  -%>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <% } %>

    <div class="friends-container">
        <div>
            <h2 class="friends-list">Your Friends List</h2>
            <% if ( friends.length !== 0 ) { %>
            <div class="friends-list-details">
                <% friends.forEach((friend, index)=>{ %> 
                    <div style="margin-bottom: 5px;">
                        <div class="details-div">
                            <div class="friend-number">
                                <div 
                                class="number-avatar"
                                >
                                    <%= index + 1 %>
                                </div>
                            </div>
                            <%- include('./partials/friendDetails', {friend: friend})  -%>
                        </div>
                    </div>
                <% }) %>
            </div>
            <% } else { %>
                <p>You have no friends yet.</p>
            <% } %>
        </div>
    </div>




</main>
<%- include('./partials/footer') -%> 