<%- include('./partials/header') -%>
<div class="background"></div>
<main>
<%- include('./partials/navbar') -%>

<!-- Begin Page Content -->
    <%= book %> [<%= addLink %>]
</main>

<%- include('./partials/footer') -%> 